.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 18px 18px;
  border-radius: 50px;

  /*font*/
  font-family: "inter";
  font-weight: 750;
  color: rgba(255, 255, 255, 0.8);
  /* color: #ffa500cc; */
  font-size: 40px;
  letter-spacing: -0.05em;
  line-height: 0.7em;

  /*background*/
  background-color: rgba(245, 245, 244, 0.1);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
}
